@model CliCarProject.Models.Classes.Veiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quilometragem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quilometragem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClasseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClasseNavigation.IdClasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCombustivelNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCombustivelNavigation.IdCombustivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdModeloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdModeloNavigation.IdModelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVendedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVendedorNavigation.IdUtilizador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVeiculo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
